In [2]:
import TM4, TM6, TM8 # Taylor maps of 4th, 6th, and 8th orders
import RK4_as_TM16   # Taylor map of 16th order that corresponds to the RK4 scheme

In [7]:
TM8.main() # taylor mapping 8th order

             err_RK4       err_TM8  time_RK4  time_TM8  time_ratio
100.0   4.418885e-05  2.865107e-05  0.001294  0.000729    1.775270
200.0   2.840694e-06  2.745865e-07  0.002801  0.002930    0.956063
400.0   1.800694e-07  2.367737e-09  0.004348  0.002258    1.925771
800.0   1.133428e-08  8.314297e-11  0.006023  0.003678    1.637469
1600.0  7.108933e-10  1.406306e-10  0.011263  0.006932    1.624815

In [8]:
TM6.main() # taylor mapping 6th order

             err_RK4       err_TM6  time_RK4  time_TM6  time_ratio
100.0   4.418885e-05  3.799258e-03  0.001359  0.000662    2.051722
200.0   2.840694e-06  1.390691e-04  0.002273  0.001064    2.136445
400.0   1.800694e-07  4.704188e-06  0.005854  0.002151    2.722109
800.0   1.133428e-08  1.530467e-07  0.006315  0.002916    2.165554
1600.0  7.108933e-10  4.749869e-09  0.011256  0.005414    2.079230

In [9]:
TM4.main() # taylor mapping 4th order

             err_RK4   err_TM4  time_RK4  time_TM4  time_ratio
100.0   4.418885e-05  0.509216  0.001185  0.000372    3.190160
200.0   2.840694e-06  0.071627  0.002508  0.000949    2.642133
400.0   1.800694e-07  0.009478  0.005026  0.001596    3.148768
800.0   1.133428e-08  0.001219  0.006886  0.002038    3.378090
1600.0  7.108933e-10  0.000154  0.011334  0.003860    2.936540

In [6]:
RK4_as_TM16.main() # representation of RK4 method as a Taylor map of 16th order

             err_RK4  err_TM16_RK4  time_RK4  time_TM16_RK4  time_ratio
100.0   4.418885e-05  4.418886e-05  0.001728       0.003810    0.453476
200.0   2.840694e-06  2.840694e-06  0.001781       0.003421    0.520733
400.0   1.800694e-07  1.800560e-07  0.002962       0.006436    0.460293
800.0   1.133428e-08  1.126745e-08  0.005501       0.011935    0.460889
1600.0  7.108933e-10  7.918572e-10  0.011491       0.023799    0.482859